@import "reset.css";


.wrap {max-width: 1920px; width: 100%; margin: 0 auto;}

#header {z-index: 1; position: relative}
#header .logo {width: 100px;height: 100px;float: left;margin-top: 20px}
#header .logo img {height: 30px; width: 100px;margin-left: 15px;}
#header nav ul {float: left; margin-left: 300px;}
#header nav ul li {display: inline-block; padding: 10px 20px; line-height: 40px;}
#header a {font-size: .8em; text-decoration: none; color: white; text-transform: uppercase;font-weight: bold}
#header a:hover {color: lightslategrey}
#header .connected {float: right; display: inline-block; line-height: 20px; padding: 10px;font-weight: bold;}
#header .connected a {padding: 10px ; margin-right: 10px}
/* Menu Burger */
.burger {display: inline-block;width:18px;height:18px;cursor: pointer;text-decoration: none;}
.burger i {position: relative;display: inline-block;width: 18px;height: 3px;color:#252525;font:bold 14px/.4 Helvetica;text-transform: uppercase;text-indent:-55px;background: #fff;transition:all .2s ease-out;}
.burger i::before, a i::after {content:'';width: 18px;height: 3px;background: #fff;position: absolute;left:0;transition:all .2s ease-out;}
.burger i::before { top: -7px; }
.burger i::after { bottom: -7px; }
.burger:hover i::before { top: -10px; }
.burger:hover i::after { bottom: -10px; }
.burger.active i { background: rgba(0,0,0,0); }
.burger.active i::before {top:0;-webkit-transform: rotateZ(45deg);-moz-transform: rotateZ(45deg);-ms-transform: rotateZ(45deg);-o-transform: rotateZ(45deg);transform: rotateZ(45deg);}
.burger.active i::after {bottom:0;-webkit-transform: rotateZ(-45deg);-moz-transform: rotateZ(-45deg);-ms-transform: rotateZ(-45deg);-o-transform: rotateZ(-45deg);transform: rotateZ(-45deg);}
/*Fin Menu burger*/

/*Zoom in on load*/
.intro {max-width: 100%;height:720px;overflow:hidden;position: absolute;width: 100%}
.intro_bg {width: 100%;height: 100%;background: url('../img/background.jpg');background-position:center center;
    background-size:cover;transform:scale(1.5);transition:all 1s ease-in;}
.intro_bg.zout {transform:scale(2);}
/*Fin zoom in*/

/*Premiere section*/

#section .wrap2 {max-width: 740px; width: 100%; margin: 0 auto;}
#section h2 {position: relative; color: #fff;text-transform: uppercase; text-align: center;font-size: 2em;margin-top: 20px}
#section p {position: relative; color: #fff;text-transform: uppercase; text-align: center;font-size: 1em;margin-top: 20px;
display: inline-block; }
