@import "reset.css";

body {
    font-family: 'Muli', sans-serif;
}

.wrap {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}


#header {
    background-color: rgba(0, 0, 0, 0.5);
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

#header .logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 20px
}

#header .logo img {
    height: 30px;
    width: 100px;
    margin-left: 15px;
}

#header nav ul {
    float: left;
    margin-left: 300px;
}

#header nav ul li {
    display: inline-block;
    padding: 10px 20px;
    line-height: 40px;
}

#header a {
    font-size: .8em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold
}

#header a:hover {
    color: lightslategrey
}

#header .connected {
    float: right;
    display: inline-block;
    line-height: 40px;
    padding: 10px;
    font-weight: bold;
}

#header .connected a {
    padding: 10px;
    margin-right: 80px
}

/* Menu Burger */

#menuToggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    width: 300px;
    height: 800px;
    margin: -100px 0 0 0;
    padding: 50px;
    padding-top: 250px;
    right: -100px;
    list-style-type: none;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    line-height: 80px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    font-size: 22px;
}

#menuToggle input:checked ~ ul {
    transform: scale(1.0, 1.0);
    opacity: 1;
}

/*Fin Menu burger*/
/*Premiere section*/

#section {
    background-image: url('../img/background.png');
    width: 100%;
    height: 800px
}

#section .wrap2 {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
}

#section {
    padding-top: 200px
}

#section .boxleft {
    float: left;
}

#section .boxright {
    float: right
}

#section img {
    margin-left: 37%;
}

#section p {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 30px;
    display: inline-block;
}

#section p a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

#section .btn {
    box-shadow: 0px 1px 0px 0px #ffffff;
    border-radius: 15px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
}

#section .btnl {
    margin-left: 30px;
    width: 350px;
    background-color: #fff;
    color: rgba(0, 0, 0, 100);
}

#section .btnr {
    width: 300px;
    margin-right: 30px;
    background-color: transparent;
}

#section .btnl:hover {
    background: #ECECEC;
    border: 2px solid #ECECEC;
}

#section .btnr:hover {
    background: #ECECEC;
    color: rgba(0, 0, 0, 100);
}

/*Page 404 */
.wrap404 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

#body {
    background-color: #262626;
}

#body h2 {
    text-align: center;
    color: #fff;
    font-size: 10em;
    margin-top: 250px;
}

#body p {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

#body img {
    margin-top: 30px;
}

/* Tableau Trame */

.login {
    margin-top: 150px;
}

#table {
    border-collapse: collapse;
    max-width: 95%;
    text-align: center;
    margin-top: 50px;
    margin-left: 2.5%;
}

#table th, #table td {
    border: 1px solid #dddddd;
    padding: 10px 5px;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #dddddd;
}

#table th {
    background-color: royalblue;
    color: #dddddd;
}


/* Graphique */

#chartProt, #chartCountry {
    max-width: 80%;
    margin-left: 10%;
}

#chartProt {
    margin-top: 120px;
}

/*Form Inscription */

.signup_title {
    padding-top: 150px;
    text-align: center;
    font-size: 2em;
    color: white;
}

.signup {
    margin-left: 37.5%;
    margin-top: 30px;
}

#surname {
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 40%;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#name {
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 40%;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#mail {
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 40%;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#password {
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 40%;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#cfrmPassword {
    margin-top: 15px;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    width: 40%;
    padding-left: 2%;
    padding-bottom: 8px;
    padding-top: 7px;
    font-size: 1em;
}

#surname:hover {
    border-color: red;
}

#name:hover {
    border-color: red;
}

#mail:hover {
    border-color: red;
}

#password:hover {
    border-color: red;
}

#cfrmPassword:hover {
    border-color: red;
}

.need {
    margin-top: 10px;
    margin-left: 5px;
    color: white;
}

#submit_signup {
    text-align: center;
    margin-top: 25px;
    margin-left: 6%;
    padding: 10px 80px;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    font-size: 1em;
    margin-bottom: 50px;
    background-color: white;
    cursor: pointer;
    color: black;
}

#submit_signup:hover {
    background-color: #525252;
    color: white;
}

#background2 {
    background: radial-gradient(grey, black);
    width: 100%;
    height: 600px;
}


/* contact */

.material-icons {
    font-size: 3em;
    margin-left: 50%;
    color: white;
    margin-top: 40px;
}

.phone {
    width: 50%;
    float: left;
}

.mail2 {
    width: 50%;
    float: left;
}

.tel {
    margin-left: 43.5%;
    margin-top: 15px;
    color: white;
}

.email {
    margin-left: 41.5%;
    margin-top: 15px;
    color: white;
}

.contact_title {
    text-align: center;
    padding-top: 150px;
    font-size: 2em;
    color: white;
}

.barre {
    width: 15%;
    height: 3px;
    background-color: white;
    border: white solid 1px;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 42.5%;
}

.wrap3 {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.contact {
    margin-top: 30px;
    margin-left: 35.9%;
    color: white;
}

#object {
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 44%;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#email {
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    width: 44%;
    padding-left: 2%;
    padding-bottom: 8px;
    padding-top: 7px;
    font-size: 1em;
    color: black;
}


#message {
    margin-top: 15px;
    padding-bottom: 65px;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    width: 44%;
    padding-left: 2%;
    padding-top: 7px;
    font-size: 1em;
    font-family: 'Muli', sans-serif;
    color: black;
}

input::placeholder {
    font-family: 'Muli', sans-serif;
    opacity: 1;
    color: black;
}

textarea::placeholder {
    font-family: 'Muli', sans-serif;
    color: black;
    opacity: 1;
}

textarea {
    resize: none;
}

form {
    color: white;
}

#submit_contact {
    text-align: center;
    margin-top: 25px;
    margin-left: 6%;
    padding: 10px 80px;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    font-size: 1em;
    margin-bottom: 50px;
    background-color: white;
    cursor: pointer;
    color: black;
}

#submit_contact:hover {
    background-color: #525252;
    color: white;
}

.error {
    margin-left: 2%;
    margin-top: 5px;
    color: red;
}

#background1 {
    background: radial-gradient(grey, black);
    width: 100%;
    height: 800px;
}

/* Connexion */

.login_title {
    padding-top: 150px;
    text-align: center;
    font-size: 2em;
    color: white;
}

.login {
    margin-top: 30px;
}

#mail_log {
    margin-left: 37.5%;
    margin-top: 30px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 25%;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#password_log {
    margin-left: 37.5%;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 25%;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#password_log:hover {
    border-color: red;
}

#mail_log:hover {
    border-color: red;
}

#submit_log {
    text-align: center;
    margin-top: 25px;
    margin-left: 42%;
    padding: 10px 80px;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    font-size: 1em;
    margin-bottom: 72px;
    background-color: white;
    cursor: pointer;
    color: black;
}

#submit_log:hover {
    background-color: #525252;
    color: white;
}

.forgot {
    margin-left: 38.5%;
    margin-top: 7px;
}

#forgot_link:hover {
    color: lightslategrey;
}

#forgot_link {
    color: white;
    text-decoration: none;
}

#background3 {
    background: radial-gradient(grey, black 110%);
    width: 100%;
    height: 513px;
}

/* footer */

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0);
    text-align: center;
}

footer ul {
    margin: 0 auto;
}

footer ul li a {
    color: white;
    text-decoration: none;
    margin-bottom: 50px;
}

footer ul li {
    display: inline-block;
    margin-right: 50px;
}

footer a:hover {
    color: lightslategrey
}

/* Mentions legales */

.mldef {
    padding-top: 135px;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: white;
    text-decoration: underline;
    margin-left: 75px;
}

.ml_title {
    font-size: 1.5em;
    margin-top: 25px;
    margin-bottom: 10px;
    color: white;
    margin-left: 45px;
}

.ml_undertitle {
    font-size: 1.2em;
    margin-top: 25px;
    margin-bottom: 10px;
    color: white;
    text-decoration: underline;
    margin-left: 75px;

}

.ml_para {
    line-height: 20px;
    color: white;
    margin-left: 20px;

}

.ml_end {
    margin-bottom: 25px;
}

b {
    font-weight: bold ;
}

.ml_link {
    text-decoration: none;
    color: white;
}

.ml_list {
    color: white;
}

#background4 {
    background: radial-gradient(grey, black 110%);
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.countheads {
    padding-top: 135px;
}







