@import "reset.css";


.wrap {max-width:1600px; width: 100%; margin: 0 auto;}

#header{background-color: rgba(0,0,0,0.5);}
#header {position: fixed; top:0;width: 100%;}
#header .logo {width: 100px;height: 100px;float: left;margin-top: 20px}
#header .logo img {height: 30px; width: 100px;margin-left: 15px;}
#header nav ul {float: left; margin-left: 300px;}
#header nav ul li {display: inline-block; padding: 10px 20px; line-height: 40px;}
#header a {font-size: .8em; text-decoration: none; color: white; text-transform: uppercase;font-weight: bold}
#header a:hover {color: lightslategrey}
#header .connected {float: right; display: inline-block; line-height: 40px; padding: 10px;font-weight: bold;}
#header .connected a {padding: 10px ; margin-right: 80px}

/* Menu Burger */

#menuToggle {display: block;position: absolute;top: 20px;right: 40px;z-index: 1;-webkit-user-select: none;user-select: none;}
#menuToggle input {display: block;width: 40px;height: 32px;position: absolute;top: -7px;left: -5px;cursor: pointer;
opacity: 0;z-index: 2;-webkit-touch-callout: none;}
#menuToggle span {display: block;width: 33px;height: 4px;
margin-bottom: 5px;position: relative;background: #cdcdcd;border-radius: 3px;z-index: 1;transform-origin: 4px 0px;
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;}
#menuToggle span:first-child {transform-origin: 0% 0%;}
#menuToggle span:nth-last-child(2) {transform-origin: 0% 100%;}
#menuToggle input:checked ~ span {opacity: 1;transform: rotate(45deg) translate(-2px, -1px);background: #232323;}
#menuToggle input:checked ~ span:nth-last-child(3) {opacity: 0;transform: rotate(0deg) scale(0.2, 0.2);}
#menuToggle input:checked ~ span:nth-last-child(2) {opacity: 1;transform: rotate(-45deg) translate(0, -1px);}
#menu {position: absolute;width: 300px;height:800px;margin: -100px 0 0 0;padding: 50px;padding-top: 125px;right: -100px;background: #ededed;
list-style-type: none;transform-origin: 0% 0%;transform: translate(100%, 0);
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);}
#menu li {padding: 10px 0;font-size: 22px;}
#menuToggle input:checked ~ ul {transform: scale(1.0, 1.0);opacity: 1;}
/*Fin Menu burger*/

/*Zoom in on load*/

/*Fin zoom in*/

/*Premiere section*/

#section {background-image:url('../img/background.png');width: 100%;height: 800px}
#section .wrap2 {max-width: 740px; width: 100%; margin: 0 auto;}
#section {padding-top: 200px}
#section h2 {color: #fff;text-transform: uppercase; text-align: center;font-size: 2em;}
#section p {color: #fff;text-transform: uppercase;font-size: 1em;margin-top: 20px;display: inline-block;}
#section p a {text-decoration: none; color: #fff; text-align: center;}
#section .btnl {margin-left: 30px; width: 400px;}
#section .btnr {width: 300px;}
#section .button {box-shadow: 0px 1px 0px 0px #ffffff;background-color:transparent;border-radius:15px;border:1px solid #ffffff;
display:inline-block;cursor:pointer;color:#c2c2c2;font-size:14px;font-weight:bold;padding:12px 16px;
text-decoration:none;}
#section .button:hover {background:linear-gradient(to bottom, #b5b5b5 5%, #878787 100%);background-color:#b5b5b5;}
#section .boxleft {float: left;}  #section .boxright {float: right}

#table {margin-top: 120px;}

/* footer */

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
    text-align: center;
}


footer ul
{
    margin: 0 auto;
}
footer ul li a {
    color: white;
    text-decoration: none;
    margin-bottom: 50px;
}

footer ul li {
    display: inline-block;
    margin-right: 50px;
}



