@import "reset.css";

body {
    font-family: 'Muli', sans-serif;
}

.wrap {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}


#header {
    background-color: rgba(0, 0, 0, 0.8);
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
}

#header .logo {
    width: 100px;
    height: 100px;
    float: left;
    margin-top: 20px
}

#header .logo img {
    height: 30px;
    width: 100px;
    margin-left: 15px;
}

#header nav ul {
    float: left;
    margin-left: 25%;
}

#header nav ul li {
    display: inline-block;
    padding: 10px 20px;
    line-height: 40px;
}

#header a {
    font-size: .8em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: bold
}

#header a:hover {
    color: lightslategrey
}

#header .connected {
    float: right;
    display: inline-block;
    line-height: 40px;
    padding: 10px;
    font-weight: bold;
}

#header .connected a {
    padding: 10px 0;
}

.unconnected {
    float: right;
    margin-top: 22px;
    margin-right: 2%;
}

#header .inscr {
    margin-right: 35px;
}

@media screen and (max-width: 1155px) {
    #header .inscr {
        display: none;
    }

    #header .connect {
        display: none;
    }

    .topnav a.icon {
        display: block;
        right: 3%;
        top: 0;
        position: absolute;
    }

    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .mobile-container {
        float: right;
        position: fixed;
        top: -70px;
        right: 10px;
        margin-top: 70px;
        margin-left: 50px;
    }

    .topnav {
        margin-top: 70px;
        background-color: rgba(0, 0, 0, 0.8);
        border-top: none;
        border-bottom-left-radius: 10px;
        width: 109%;
    }

}

@media screen and (max-width: 850px) {
    #header nav ul li {
        display: none;
    }
}


.topnav #myLinks {
    display: none;
}


/* Menu Burger */


@media screen and (min-width: 1155px) {
    .topnav a.icon {;
        background: none;
        display: none;
    }

    .topnav #myLinks {
        display: none;
    }
}

.fa {
    font-size: 2em;
    margin-top: 5px;
}

/*Fin Menu burger*/
/*Premiere section*/

#section {
    background-image: url('../img/background.png');
    width: 100%;
    height: 800px;
}

#section .wrap2 {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
}

#section {
    padding-top: 200px
}

#section .boxleft {
    float: left;
}

#section .boxright {
    float: right
}

#section img {
    margin-left: 37%;
}

#section p {
    color: #fff;
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 30px;
    display: inline-block;
}

#section p a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

#section .btn {
    box-shadow: 0px 1px 0px 0px #ffffff;
    border-radius: 15px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
}

#section .btnl {
    margin-left: 30px;
    width: 350px;
    background-color: #fff;
    color: rgba(0, 0, 0, 100);
}

#section .btnr {
    width: 300px;
    margin-right: 30px;
    background-color: transparent;
}

#section .btnl:hover {
    background: #ECECEC;
    border: 2px solid #ECECEC;
}

#section .btnr:hover {
    background: #ECECEC;
    color: rgba(0, 0, 0, 100);
}

@media screen and (max-width: 736px) {
    #section .btnl {
        width: 100%
    }
}

@media screen and (max-width: 736px) {
    #section .btnr {
        width: 100%
    }
}

#section2 {
    background: radial-gradient(grey, black);
}

.wrapSection2 {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}

#section2 .img {
    width: 100%;
}

.img img {
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 6%;
    width: 25%;
    border-radius: 100%;
    float: left;
}

#section2 h2 {
    text-align: center;
    color: white;
    padding-bottom: 40px;
    font-size: 1.5em;
    text-decoration: underline;
}

#section2 .engagements ul {
    padding-bottom: 30px;
}

#section2 .engagements ul li {
    text-align: center;
    color: white;
    line-height: 30px;
}

/*Page 404 */

.wrap404 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

#body {
    background-color: #262626;
}

#body a {
    text-decoration: none;
}

#body h2 {
    text-align: center;
    color: #fff;
    font-size: 10em;
    margin-top: 250px;
}

#body p {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

#body img {
    margin-top: 30px;
}

/* Tableau Trame */

.login {
    margin-top: 150px;
}

#tab {
    width: 95%;
    margin-top: 2%;
    margin-left: 11%;
    margin-bottom: 2%;
}

#table {
    border-collapse: collapse;
    text-align: center;

}

#table th, #table td {
    border: 1px solid #dddddd;
    padding: 10px 5px;
}

#table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#table tr:hover {
    background-color: #dddddd;
}

#table th {
    background-color: royalblue;
    color: #dddddd;
}


/* Graphique */


canvas {
    max-width: 80%;
}

#graph {
    width: 80%;
    margin-left: 12.5%;
    margin-top: 120px;
}

#graphCirc1 {
    width: 50%;
    float: left;
    padding-left: 5%;
}

#graphCirc2 {
    width: 50%;
    float: right;
    padding-right: 5%;
}

#chartCountry {
    padding-top: 2%;
    margin-left: 5%;
    width: 80%;
}

/*Form Inscription */

.signup_title {
    padding-top: 100px;
    text-align: center;
    font-size: 2.5vw;
    color: white;
}

.signup {
    margin-left: 39%;
    margin-top: 30px;
}

#surname {
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 285px;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#name {
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 285px;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#mail {
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 285px;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#password {
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 285px;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#cfrmPassword {
    margin-top: 15px;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    width: 285px;
    padding-left: 2%;
    padding-bottom: 8px;
    padding-top: 7px;
    font-size: 1em;
}

#surname:hover {
    border-color: red;
}

#name:hover {
    border-color: red;
}

#mail:hover {
    border-color: red;
}

#password:hover {
    border-color: red;
}

#cfrmPassword:hover {
    border-color: red;
}

.need {
    margin-top: 10px;
    margin-left: 5px;
    color: white;
}

#submit_signup {
    margin-top: 25px;
    margin-left: 8%;
    padding: 10px;
    width: 150px;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    font-size: 1em;
    margin-bottom: 50px;
    background-color: white;
    cursor: pointer;
    color: black;
}

#submit_signup:hover {
    background-color: #525252;
    color: white;
}

#background2 {
    background: radial-gradient(grey, black);
    width: 100%;
    height: 600px;
}

@media screen and (max-width: 960px) {
    .signup_title {
        font-size: 1.5em;
    }

    .barre {
        width: 145px;
    }
}

@media screen and (max-width: 1000px) {
    #submit_signup {
        margin-left: 7%;
    }

    .signup {
        margin-left: 35.5%;
    }
}

@media screen and (max-width: 750px) {
    .signup {
        margin-left: 31%;
    }

    #submit_signup {
        margin-left: 12%;
    }
}

@media screen and (max-width: 515px) {
    .signup_title {
        font-size: 1.2em;
    }

    .signup {
        margin-left: 22%;
    }

    #submit_signup {
        margin-left: 15%;
    }
}

@media screen and (max-width: 415px) {
    .signup {
        margin-left: 15%;
    }

    #submit_signup {
        margin-left: 18%;
    }
}

@media screen and (max-width: 340px) {
    .signup {
        margin-left: 7.5%;
    }

    #submit_signup {
        margin-left: 20%;
    }
}


/* contact */

.material-icons {
    font-size: 3em;
    margin-left: 50%;
    color: white;
    margin-top: 40px;
}

.phone {
    width: 50%;
    float: left;
}

.mail2 {
    width: 50%;
    float: left;
}

.tel {
    margin-left: 43.5%;
    margin-top: 15px;
    color: white;
}

.email {
    margin-left: 41.5%;
    margin-top: 15px;
    color: white;
}

.contact_title {
    text-align: center;
    padding-top: 100px;
    font-size: 2.5vw;
    color: white;
}

.barre {
    width: 15%;
    height: 3px;
    background-color: white;
    border: white solid 1px;
    border-radius: 4px;
    margin-top: 20px;
    margin: 20px auto;
}

.wrap3 {
    width: 100%;
    margin: 0 auto;
    max-width: 1000px;
}

.contact {
    margin-top: 30px;
    margin-left: 35.9%;
    color: white;
}

#object {
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 285px;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#email {
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    width: 285px;
    padding-left: 2%;
    padding-bottom: 8px;
    padding-top: 7px;
    font-size: 1em;
    color: black;
}


#message {
    margin-top: 15px;
    padding-bottom: 65px;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    width: 285px;
    padding-left: 2%;
    padding-top: 7px;
    font-size: 1em;
    font-family: 'Muli', sans-serif;
    color: black;
}

#email:hover {
    border-color: red;
}

#object:hover {
    border-color: red;
}

#message:hover {
    border-color: red;
}

input::placeholder {
    font-family: 'Muli', sans-serif;
    opacity: 1;
    color: black;
}

textarea::placeholder {
    font-family: 'Muli', sans-serif;
    color: black;
    opacity: 1;
}

textarea {
    resize: none;
}

form {
    color: white;
}


#submit_contact {
    margin-left: 10%;
    margin-top: 30px;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px 0;
    width: 150px;
    font-size: 1em;
    background-color: white;
    cursor: pointer;
    color: black;
}

@media screen and (max-width: 800px) {
    #submit_contact {
        margin-left: 7%;
    }

    #message {
        margin-left: -5%;
    }

    #object {
        margin-left: -5%;
    }

    #email {
        margin-left: -5%;
    }

    .material-icons {
        margin-left: 40%;
    }

    .tel {
        margin-left: 32%;
    }

    .email {
        margin-left: 28%;
    }
}

@media screen and (max-width: 665px) {
    #submit_contact {
        margin-left: 5%;
    }

    #message {
        margin-left: -10%;
    }

    #object {
        margin-left: -10%;
    }

    #email {
        margin-left: -10%;
    }

    .material-icons {
        margin-left: 40%;
    }

    .tel {
        margin-left: 29%;
    }

    .email {
        margin-left: 27%;
    }
}

@media screen and (max-width: 415px) {
    #submit_contact {
        margin-left: -10%;
    }

    #message {
        margin-left: -32%;
    }

    #object {
        margin-left: -32%;
    }

    #email {
        margin-left: -32%;
    }

    .material-icons {
        margin-left: 40%;
    }

    .tel {
        margin-left: 25%;
    }

    .email {
        margin-left: 18%;
    }
}

@media screen and (max-width: 340px) {
    #submit_contact {
        margin-left: -12%;
    }

    #message {
        margin-left: -44%;
    }

    #object {
        margin-left: -44%;
    }

    #email {
        margin-left: -44%;
    }

    .material-icons {
        margin-left: 30%;
    }

    .tel {
        margin-left: 10%;
    }

    .email {
        margin-left: 5%;
    }
}

@media screen and (max-width: 960px) {
    .contact_title {
        font-size: 1.5em;
    }

    .barre {
        width: 145px;
    }
}


#submit_contact:hover {
    background-color: #525252;
    color: white;
}

.error {
    margin-left: 2%;
    margin-top: 5px;
    color: red;
}

#background1 {
    background: radial-gradient(grey, black);
    width: 100%;
    height: 800px;
}

/* Connexion */

.login_title {
    padding-top: 100px;
    text-align: center;
    font-size: 2em;
    color: white;
}

.login {
    margin-top: 30px;
}

.log {
    margin-left: 30px;
}

#mail_log {
    margin-left: 37.5%;
    margin-top: 30px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 285px;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#password_log {
    margin-left: 37.5%;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 5px;
    border-color: black;
    width: 285px;
    padding-left: 2%;
    font-size: 1em;
    padding-bottom: 8px;
    padding-top: 7px;
    color: black;
}

#password_log:hover {
    border-color: red;
}

#mail_log:hover {
    border-color: red;
}

#submit_log {
    text-align: center;
    margin-top: 25px;
    margin-left: 42.5%;
    margin-right: 43.5%;
    padding: 10px 5%;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    font-size: 1em;
    margin-bottom: 122px;
    background-color: white;
    cursor: pointer;
    color: black;
}

#submit_log:hover {
    background-color: #525252;
    color: white;
}

.forgot {
    margin-left: 38.5%;
    margin-top: 7px;
}

#forgot_link:hover {
    color: lightslategrey;
}

#forgot_link {
    color: white;
    text-decoration: none;
}

#background3 {
    background: radial-gradient(grey, black 110%);
    width: 100%;
    height: 513px;
}

@media screen and (max-width: 960px) {
    .barre {
        width: 145px;
    }
}

@media screen and (max-width: 1000px) {
    #submit_log {
        margin-left: 44.5%;
    }

    .log {
        margin-left: -3%;
    }
}

@media screen and (max-width: 750px) {
    .log {
        margin-left: -10%;
    }

    #submit_log {
        margin-left: 47.3%;
    }
}

@media screen and (max-width: 515px) {
    .log {
        margin-left: -25%;
    }

    #submit_log {
        margin-left: 51.5%;
    }
}

@media screen and (max-width: 415px) {
    .log {
        margin-left: -35%;
    }

    #submit_log {
        margin-left: 54%;
    }
}

@media screen and (max-width: 340px) {
    .log {
        margin-left: -48.5%;
    }

    #submit_log {
        margin-left: 57%;
    }
}

/* Qui sommes nous ? */

.about-title {
    padding-top: 100px;
    text-align: center;
    font-size: 2em;
    color: white;
}

.about_dcrypt {
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    line-height: 25px;
    font-size: 1.1em;
}

.about_us {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    font-size: 1.1em;
    line-height: 25px;
}

.team {
    padding-top: 35px;
    text-align: center;
    font-size: 2em;
    color: white;
}

.photo img {
    width: 65%;
    border-radius: 100%;
    margin-left: 17%;
    margin-top: 40px;
    margin-right: 5%;
}

.name1 {
    margin-right: 15px;
}

.name2 {
    margin-right: 20px;
}

.name4 {
    margin-right: 10px;
}

.name {
    color: white;
}

.photo p {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 75px;
}

.photo {
    float: left;
    width: 25%;
}

#background6 {
    background: radial-gradient(grey, black 110%);
    width: 100%;
    height: 860px;
}

@media screen and (max-width: 1220px) {
    #background6 {
        height: 900px;
    }
}

@media screen and (max-width: 1203px) {
    #background6 {
        height: 950px;
    }
}

@media screen and (max-width: 635px) {
    #background6 {
        height: 1100px;
    }
}

@media screen and (max-width: 385px) {
    #background6 {
        height: 1200px;
    }
}

/* footer */

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
}

footer ul {
    margin: 0 auto;
}

footer ul li a {
    color: white;
    text-decoration: none;
    margin-bottom: 50px;
}

footer ul li {
    display: inline-block;
    margin: 0 25px;
}

footer a:hover {
    color: lightslategrey
}

@media screen and (max-width: 760px) {
    footer ul li {
        display: block;
        line-height: 35px;
    }
}

@media screen and (max-width: 760px) {
    footer ul .contact {
        margin-left: 1%;
    }
}

/* Mentions legales */

.countheads_ml {
    padding-top: 100px;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 25px;
    color: white;
}

.mldef {
    padding-top: 35px;
    font-size: 1.2em;
    margin-bottom: 10px;
    color: white;
    text-decoration: underline;
    margin-left: 75px;
}

.ml_title {
    font-size: 1.5em;
    margin-top: 25px;
    margin-bottom: 10px;
    color: white;
    margin-left: 45px;
}

.ml_undertitle {
    font-size: 1.2em;
    margin-top: 25px;
    margin-bottom: 10px;
    color: white;
    text-decoration: underline;
    margin-left: 75px;
}

.ml_para {
    line-height: 20px;
    color: white;
    margin-left: 20px;

}

.ml_end {
    margin-bottom: 25px;
}

b {
    font-weight: bold;
}

.ml_link {
    text-decoration: none;
    color: white;
}

.ml_list {
    color: white;
}

#background4 {
    background: radial-gradient(grey, black 110%);
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

/* CGU */

#background5 {
    background: radial-gradient(grey, black 110%);
    width: 100%;
    height: 100%;
    padding-bottom: 10px;
}

.countheads_cgu {
    padding-top: 100px;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-left: 25px;
    color: white;
}

.cgu_title {
    font-size: 1.5em;
    margin-top: 25px;
    margin-bottom: 10px;
    color: white;
    margin-left: 25px;
}

.nocount {
    font-size: 1.3em;
    margin-bottom: 15px;
    margin-left: 25px;
    color: white;
}

u {
    text-decoration: none;
    font-size: 1.1em;
    color: white;
}

.para_cgu {
    margin-left: 10px;
    line-height: 20px;
    color: white;
}

.cgu_end {
    margin-bottom: 20px;
}

.list_cgu {
    margin-bottom: 4px;
    margin-top: 8px;
    margin-left: 30px;
    color: white;
}

.list_cgu li {
    margin-bottom: 4px;
}

/* FILE UPLOAD */
.upload {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 70px;
    padding: 30px;
}

input[type="file"] {
    padding: 100px;
}

.upload form input {
    padding: 10px;
}
